
.headingname {
    font-size: 5rem;
    text-align: center;
    padding-top: 1vh;
    margin-bottom: 2vh;
}

.textinputbox {
    width: 90vw;
    height: 30vh;
    font-size: 1.5rem;
    color: #ED217C;
    background-color: #FFE2D1;
    margin-left: 5vw;
}

.parentCont4Buttons {
    width: 75vw;
    /* height: 35vh; */
    display: inline-block;
    overflow-y: scroll;
    margin-left: 12vw;
    margin-top: 2vh;
    -ms-overflow-style: none;
    scrollbar-width: none;
}

.parentCont4Buttons::-webkit-scrollbar {
    display: none;
}

.childCont4Buttons1, .childCont4Buttons2 {
    width: 50%;
    float: left;
    display: inline;
}

.childCont4Buttons2 {
    float: right;
}

.btn {
    height: 7vh;
    width: 35vw;
    font-size: 1.5rem;
    color: #ED217C;
    background-color: #FFE2D1;
    display: block;
    border-radius: 6px;
    text-align: center;
}

.summarybox {
    width: 100vw;
    display: block;
    background-color: #ED217C;
    font-size: 1.5rem;
    margin-top: 1vh;
    padding-bottom: 5vh;
    position: fixed;
    bottom: 0;
}

.txtSums {
    display: block;
}
